.input {
	display: block;
	position: relative;
	transition: padding var(--anim-fast);

	&__title {
		position: absolute;
		top: 0;
		pointer-events: none;
		opacity: 0;
		font-size: 1rem;
		transition: var(--anim-transform-opacity);
	}

  &__el {
		display: block;
		border: none;
		width: 100%;
		outline: none;
    border-bottom: 1px solid var(--color-primary);

		/* stylelint-disable */
		&:not(&:placeholder-shown) ~ .input__title {
			pointer-events: initial;
			transform: translateY(-110%);
			opacity: 1;
		}
		/* stylelint-enable */
  }

  &__eye {
		position: absolute;
		right: 4px;
		top: 2px;
		cursor: pointer;

    path {
      fill: var(--color-light-text);
    }
  }

	/* stylelint-disable */
	&__error-text {
		position: absolute;
		bottom: 0;
		font-size: 1rem;
		opacity: 0;
		pointer-events: none;
		transform: translateY(0);
		transition: var(--anim-transform-opacity);
	}
	/* stylelint-enable */

	&_error {
		color: var(--color-error);
		padding-bottom: 2rem;

		/* stylelint-disable */
		.input__el {
			border-color: var(--color-error);
		}
		
		.input__error-text {
			pointer-events: initial;
			opacity: 1;
		}
		/* stylelint-enable */
	}
}
