.auth-page {
  &__content {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
  }
  @media screen and (max-height: 600px) {
    &__content {
      align-items: initial;
    }
  }
}

.auth-form {
  &__inputs {
  }

  &__input {
		margin-bottom: 3rem;
  }

  &__btns {
		margin-top: 20rem;
	}

  &__register {
		display: block;
		margin-top: 1.4rem;
		text-align: center;
		font-size: 1.2rem;
  }
}
