.btn {
	display: block;
	text-align: center;
	width: 100%;
	font-size: 1.4rem;
	color: var(--color-light);
	background-color: var(--color-primary);
	padding: 12px 24px;
	border-radius: 8px;
	cursor: pointer;

	&_cancel {
		background-color: var(--color-error);
	}
}