extends ../layouts/base

mixin pageLink(href, name)
	li 
		a(href=href)= name

block content
	h1 Ссылки на страницы
	nav 
		ul
			+pageLink('./authentication/index.pug', 'Авторизация')
			+pageLink('./registration/index.pug', 'Регистрация')
			+pageLink('./errors/404.pug', '404')
			+pageLink('./errors/500.pug', '500')
			+pageLink('./profile/index.pug', 'ЛК: Просмотр данных')
			+pageLink('./profile/change/index.pug', 'ЛК: Редактивароние данных')
			+pageLink('./profile/changePass/index.pug', 'ЛК: Редактивароние пароля')
			+pageLink('./main/index.pug', 'Чаты без выбранного чата')
			+pageLink('./main/chat.pug', 'Чаты с выбранным чатом')
			+pageLink('./main/chat-active-menu.pug', 'Чаты с выбранным чатом и открытыми меню')
			+pageLink('./modals/index.pug', 'Все модальные окна')
