extends ../../layouts/base

block append styles
  link(rel="stylesheet", href="/src/pages/errors/style.scss")

block content
  .error-page 
    p.error-page__status 404
    p.error-page__text Страница ушла, но обещала вернуться
    +button('Вернуться на главную', '../index.pug').error-page__link
