extends ../../layouts/base

block append styles
  link(rel="stylesheet", href="/src/pages/errors/style.scss")

block content
  .error-page 
    p.error-page__status 500
    p.error-page__text У нас что-то поломалось, уже чиним
    +button('Вернуться на главную', '../index.pug').error-page__link
