.chat-el(class=(isActive ? 'is-active' : ''))
  | !{UserPhoto}
  .chat-el__content 
    span.chat-el__name= title
      if last_message
        span.chat-el__text(class=(isUserMessageLast ? 'chat-el__text_last-user' : ''))= last_message.content || '' 
    if last_message
      span.chat-el__time= date
  if messageCount > 0
    span.chat-el__msg-count= messageCount
