.chat-messages {
  &__row {
    display: flex;
    width: 100%;
    margin-bottom: 1rem;
  }

  &__date {
    margin: 0 auto;
    font-size: 1.4rem;
    color: var(--color-light-text);
  }

  &__time {
    position: absolute;
    right: 4px;
    bottom: 4px;
    color: var(--color-light-text);
    font-size: 1.2rem;
  }

  &__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__message {
    display: block;
    max-width: 40%;
    position: relative;
    padding: 1rem;
    border-radius: 12px;
    white-space: pre-line;

    p {
      margin: 0;
    }

    &:last-of-type {
      margin-bottom: 0;
    }

    &_in {
      background-color: var(--color-notuser-message);
      padding-right: 5rem;
    }

    &_out {
      margin-left: auto;
      padding-right: 5rem;
      background-color: var(--color-light-primary);
    }
  }

  &__media {
    border-radius: 12px;
    max-width: 35%;
    max-height: 414px;
    overflow: hidden;
    padding: 0;
    border: 1px solid var(--color-dark-bg);

    /* stylelint-disable */
		// Удобнее сделать это стилями в зависимости от родителя    
    .chat-messages__time {
      padding: 0.1rem 0.6rem;
      background: rgb(82 82 82 / 50%);
      border-radius: 30px;
      color: var(--color-light);
    }
    /* stylelint-enable */
  }
}
